body {
    background-image: url("img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
img {
    width: 100px;
    border-radius: 50%;
}
.profile {
    text-align: center;
}

div {
    width: 500px;
    margin: 10px;
    padding: 10px;
}
div > div {
    box-shadow: 0px 3px 6px #ababab99;
}

td,
th {
    width: 200px;
    height: 20px;
    padding: 10px;
    text-align: center;
}
th {
    color: blue;
}
tr:nth-child(even) {
    background-color: #e0e0e0;
    color: white;
}

a {
    display: block;
    text-decoration: none;
    color: #374c98;
}
a:hover {
    color: red;
}

h4,
h1 {
    text-align: center;
    color: red;
}
span {
    color: blue;
    font-weight: bold;
}
.links {
    padding: 17px 10px;
}
